.play-music{
    background-image: var(--primary-color);
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 15;
    display: flex;
    justify-content: space-around;
}

.play-music__left{
    display: flex;
    justify-content: space-between;
    width: 35%;
    flex: 1.1;
}
.play-music__description{
    flex: 2 0;
}
.play-music__image-wrapper{
    flex: 1;
}

.play-music__song{
    color: var(--white-color);
    font-size: 1.6rem;
}

.play-music__image{
    object-fit: contain;
    width: 100px;
    margin-right: 10px;
    border-radius: 200px;
}

.play-music__image--playing{
    animation: rotate linear 20s infinite;
}

.play-music__singer{
    color: rgba(255, 254, 252,0.9);
}
.play-music__option{
    flex: 1.5;

}
.play-music__icon{
    margin-top: 20px;
    font-size: 1.6rem;
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px;
    background-color: rgba(186, 183, 175,0);
    color: var(--white-color);
}


.play-music__icon--size-s{
    font-size: 2.8rem;
}

.play-music__icon:hover{
    background-color: rgba(186, 183, 175,0.8);
    cursor: pointer;
    border-radius: 15px;
}

.play-music__icon--active{
    color: red;
}

.play-music__right{
    flex: 1;
}

.play-music__center{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.play-music__controls{
    margin-bottom: 10px;
}

.play-music__slider{
    width: 80%;
    margin: 0 auto;
    background: transparent;
    -webkit-appearance: none;  /* tell browser do noting with input range */
}



input[type=range]::-webkit-slider-runnable-track{
    cursor: pointer;
    height: 5px;
    outline-style: none;
    border-radius: 200px;
}

.play-music__slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    margin-top: -3px;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 35px;
    opacity: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: opacity 0.2s ease-in;
}

.play-music__slider::-webkit-slider-runnable-track:hover{
    height: 6px;
}

input[type=range]:hover::-webkit-slider-thumb {
    opacity: 1;
}

.play-music__time{
    color: var(--white-color);
    margin: 0 10px;
    font-size: 1.3rem;
    font-weight: 600;
}

@keyframes rotate {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(360deg);
    }
}

@media screen and (max-width : 883px){
    .play-music h1{
        font-size: 1.6rem;
    }

    .play-music__icon{
        font-size: 1.3rem;
        margin-left: 2px;
        margin-right: 2px;
        padding: 0;
    }

    .play-music__left{
        flex: 3.5;
    }

    .play-music__description{
        flex: 2.5 0;
    }

    .play-music__song{
        font-size: 1rem;
    }

    .play-music__center{
        flex: 4;
    }

    .play-music__icon--size-s{
        font-size: 2rem;
    }

    .play-music__time{
        margin: 0 1px;
        font-size: 1rem;
    }
}
