.footer{
    background-image: var(--primary-color);
    color: var(--white-color);
    padding-bottom: 100px;
}

.footer__inner{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__left{
    display: flex;
    justify-content: space-between;
}

.footer__playlist,.footer__songs{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 500;
}
.footer__key-word{
    font-size: 1.5rem;
    color: #164ef5;
    font-weight: 600;
}

.footer__key-word:hover{
    cursor: pointer;

}
.footer__key-word + .footer__key-word{
    margin-left: 5px;
}


.footer__heading{
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
}

.social-media-image{
    object-fit: contain;
    width: 40px;
    margin: 0 10px;
}

.social-media-image:hover{
    opacity: 0.7;
}

.play-list__item,.song__item{
    list-style-type: none;
    width: 300px;
    text-align: left;
    margin : 2px 0;
}

.play-list__item:hover,.song__item:hover,.footer__key-word:hover{
    opacity: 0.6;
    cursor: pointer;
}

.footer-item__icon{
    margin-right: 3px;
    font-size: 1.6rem;
}

.footer__social-media-body{
    text-align: left;
}

@media screen and (max-width : 768px){
    .footer__inner{
        flex-direction: column;
    }

    .footer__heading{
        margin: 5px 0 0 0;
        font-size: 1.4rem;
    }

    .social-media-image{
        width: 25px;
    }

    .footer__playlist,.footer__songs{
        font-size: 1.2rem;
    }

    .footer__top-search-body,.footer__social-media-body{
        margin-top: 16px;
    }

    .footer-item__icon{
        font-size: 1.2rem;
    }
}