.toast-messages{
    position: fixed;
    top : 20px;
    right: 32px;
    z-index: 15;
    transition: all 0.6s ease-out;
}

.toast-message{
    display: flex;
    background-color: var(--white-color);
    font-size: 1.6rem;
    border-radius: 3px;
    align-content: center;
    padding: 10px 0;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.01);
    width: 330px;
    margin-top: 10px;
    animation: slideToastRightToLeft 0.6s ease forwards;
}

.toast-message--success{
    border-left: 4px solid #72f788;
}

.toast-icon{
    flex: 1;
    font-size: 2.2rem;
}

.toast-title{
    font-weight: 700;
}

.toast-message--success .toast-icon{
    color: #72f788;
} 

.toast-center{
    flex: 3;
    text-align: left;
}

.toast-description{
    line-height: 2rem;
}

.toast-close{
    flex: 1;
    font-size: 2rem;
    color: #808681;
}

.toast-close:hover{
    cursor: pointer;
    opacity: 0.6;
}

.toast-message--fade-out{
    animation: fadeOut 0.8s ease-out forwards;
}

@keyframes slideToastRightToLeft {
    from{
        transform: translateX(100%);
    }to{
        transform: translateX(0);
    }
}